<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles/stylesheet.css" />
    <title th:text="${reviewModel.title}">A Review</title>
</head>
<body>

<header>
    <h1 th:text="${reviewModel.title}">A Review</h1>
</header>

<main>
    <div>
        <span>
        <p th:text="${reviewModel.title}"></p>
        <p th:text="${reviewModel.category}"></p>
        <p th:text="${reviewModel.date}"></p>
        </span>
        <img src="/static/images/parasite.jpg">
    </div>
    <h2 th:text="${reviewModel.content}"></h2>
    <h2><a href="/reviews">Reviews</a></h2>

</main>

<footer>
    <small>&copy WCCI 2021</small>
</footer>

</body>
</html>
