<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/stylesheet.css" />
    <title>Movie Reviews</title>
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <a href="/reviews">REVIEWS</a>
      </nav>
      <main>
        <h1>Movie Reviews</h1>
          <section id="reviews">
            <div id="container">
              <div class="item" th:each="review: ${reviewsModel}">
              <a
                th:href="@{/review(id=${review.id})}"
                th:text="${review.title}"
              >
              </a>
              <div class="item" th:text="${review.category}"></div>
              <div class="item" th:text="${review.date}"></div>
            </div>
          </section>
      </main>
      <footer>
        <small>&copy WCCI 2021</small>
      </footer>
    </div>
  </body>
</html>
